<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>AdminHome</title>
<link rel="stylesheet" th:href="@{/css/adminhome.css}"/>
</head>
<body>
<h1>Welcome To Admin Page</h1>
<button onclick="window.location.href='newSong'">Add new song</button>
    <br />
    
    <button onclick="window.location.href='viewSongs'">View all songs</button>
    <br />
    
    <button onclick="window.location.href='createPlaylist'">Create Playlist</button>
    <br />
    
    <button onclick="window.location.href='viewPlaylists'">View all Playlist</button>
</body>
</html>
